* {
    margin : 0;
    padding : 0;
    box-sizing :border-box;
  }

html {
    font-size: 62.5%;
}
head title{
    font-size: 62.5%;
    color: #979797;
}

body{
    font-size: 62.5%;
    background-image: url('./image.jpg');
}

h1 {
    font-size : 2.4rem;
}

h2 {
    font-size : 4.8rem;
    color: #dfdddd;
}

h3 {
    font-size : 2rem;
    color:beige;
}

.main-head li {
    font-size : 2rem;
}

a{
    color :aliceblue;
    text-decoration: none;
}

.main-head {
    background: #558eac ;
    color :rgb(255, 255, 255);
}

nav {

    min-height: 10vh;
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
    padding: 2rem;
}

nav ul{

    display: flex;
    flex :1 1 40rem;
    justify-content: space-around;
    align-items: center;
    list-style: none;

}

#Logo {
    flex : 2 1 4rem;
}
 
.text {
    min-height: 90vh;
    background-image: url('./image.jpg');
    background-size: cover;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text h3 {
    padding: 4rem;
}

.section1, .section2 {
    
    width: 100%;
    min-height: 100vh ;
    position: relative;
    background-image:url('./image.jpg');
    background-size: cover;
    background-position: bottom;
}
.section2{
    
    width: 100%;
    min-height: 100vh ;
    position: relative;
    background-image: url('./image.jpg');
    background-size: cover;
    background-position: bottom;
}

.text2 ul {
    display: flex;
    justify-content: center; /* Pour aligner au centre horizontalement */
    list-style: none;
    padding: 4rem; /* Supprimer le padding par défaut */
}

.text2 ul li {
    margin: 0; /* Supprimer les marges par défaut */
    padding: 10px; /* Ajouter un peu de marge entre les éléments */
    padding: 20rem;
    font-size: 3rem;
}

.centered-image {
    position: absolute; /* Définir le positionnement absolu */
    top: 60%; /* Placer l'image à 50% du haut */
    left: 10%; /* Placer l'image à 50% de la gauche */
    transform: translate(-20%, -50%); /* Déplacer l'image de moitié de sa propre taille vers le haut et la gauche */
    width: 20%; /* Taille moyenne de l'image, ajustez selon vos besoins */
    height: auto; /* Pour maintenir le ratio hauteur/largeur */
    display: block; /* Pour éviter les problèmes d'alignement */
    margin-top: 10px; /* Espacement entre la liste et l'image, ajustez selon vos besoins */
}


/*footer*/
.contact-footer {
    color:beige;
    padding: 2rem;
    display: flex;
    justify-content: space-around;
}

.contact-info,
.social-media {
    flex: 1;
    margin-right: 2rem;
}

.contact-info h3,
.social-media h3 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.contact-info ul,
.social-media ul {
    list-style: none;
    padding: 0;
}

.contact-info ul li,
.social-media ul li {
    margin-bottom: 0.5rem;
    font-size: 1rem;
}

.social-media ul li a {
    text-decoration: none;
    color: #ffff;
    font-size: 1.5rem;
}

.social-media ul li a:hover {
    color: #81d0fb;
}

