body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    overflow: hidden;
    background-color: #007BFF; /* Couleur de fond principale pour tout le corps de la page */
}

.sidebar {
    background-color: #2c3e50; /* Couleur foncée pour la barre latérale */
    color: white;
    width: 200px;
    height: 100%;
    box-sizing: border-box;
    padding: 20px;
    position: fixed; /* Fixe la barre latérale pour qu'elle ne bouge pas lors du scroll */
}

.menu-header {
    display: flex;
    align-items: center;
    font-size: 24px;
    margin-bottom: 20px; /* Espace après le titre du menu */
}

.menu-header i {
    margin-right: 10px;
}

.menu-items {
    list-style: none;
    padding: 0;
}

.menu-items li {
    padding: 10px 0;
    cursor: pointer;
    transition: background-color 0.3s; /* Transition douce pour le survol */
}

.menu-items li:hover, .menu-items li.active {
    background-color: #34495e; /* Couleur de survol et élément actif */
}

.main-content {
    margin-left: 200px; /* Décalage pour la sidebar */
    padding: 20px;
    height: calc(100% - 40px); /* Hauteur ajustée pour le padding */
    box-sizing: border-box;
}

.controls {
    width: 400px; /* Largeur fixe pour les contrôles */
    background-color: #f0f0f0; /* Fond clair pour la zone de contrôle */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Ombre pour un effet de profondeur */
    margin: auto; /* Centrer dans la partie restante de la page */
}

.control-item {
    margin-bottom: 20px; /* Espace entre les contrôles */
}

.control-item label {
    display: block; /* Assure que le label est au-dessus de l'input */
}

.control-item input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px; /* Espacement entre le label et l'input */
}
