@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #44576c;
    color: #ecf0f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.main-header {
    background-color: #0e3951; /* Fond bleu */
    color: white; /* Texte blanc */
    padding: 20px; /* Espacement interne */
    text-align: center; /* Centrer le texte horizontalement */
    width: 100%; /* Prendre toute la largeur de la page */
    position: fixed; /* Fixer en haut de la page */
    top: 0; /* Positionner en haut */
    left: 0; /* Positionner à gauche */
    display: flex;
    justify-content: center; /* Centrer horizontalement */
    align-items: center; /* Centrer verticalement */
    height: 70px; /* Hauteur du header */
    z-index: 1000; /* S'assurer que le header est au-dessus des autres éléments */
}

.main-header h1 {
    margin: 0; /* Supprimer la marge par défaut */
    font-size: 2.5em; /* Taille du texte */
    left:0;
}

.navbar {
    position: absolute;
    top: 70px; /* Placer sous le header */
    left: 0;
    width: 100%;
}

.toggler {
    display: none;
}

.toggle {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 20px;
    left: 15px;
    z-index: 2;
    cursor: pointer;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.toggle .common {
    position: absolute;
    height: 2px;
    width: 20px;
    background-color: #0b1a1d;
    border-radius: 50px;
    transition: 0.3s ease;
}

.toggle .top_line {
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.toggle .middle_line {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.toggle .bottom_line {
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input:checked ~ .toggle .top_line {
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(45deg);
}

input:checked ~ .toggle .bottom_line {
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(-45deg);
}

input:checked ~ .toggle .middle_line {
    opacity: 0;
    transform: translateX(20px);
}

.slide {
    position: fixed;
    height: 100%;
    width: 250px;
    top: 70px; /* Placer sous le header */
    left: 0;
    background-color: #2c3e50;
    transition: 0.5s ease;
    transform: translateX(-250px);
    z-index: 1;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

input:checked ~ .slide {
    transform: translateX(0);
}

.slide h1 {
    color: white;
    font-weight: 800;
    text-align: center;
    padding: 20px 0;
    pointer-events: none;
}

.slide ul {
    padding: 0;
    list-style: none;
}

.slide ul li {
    list-style: none;
}

.slide ul li a {
    color: white;
    font-weight: 500;
    padding: 15px 20px;
    display: block;
    text-transform: capitalize;
    text-decoration: none;
    transition: 0.2s ease-out;
}

.slide ul li:hover a {
    color: #fff;
    background-color: rgb(104, 195, 164);
}

.slide ul li a i {
    width: 30px;
    text-align: center;
}

.section2 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: 20px;
    margin-top: 100px; /* Ajouter de la marge pour éviter que le contenu soit caché derrière le header */
}

.content-section {
    flex-basis: 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-section img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.table-container {
    display: flex;
    flex-basis: 75%;
    justify-content: space-between;
    margin-left: 5%;
}

.remote-table, .alert-table {
    background-color: #ffffff4a;
    border-radius: 10px;
    padding: 20px;
    width: 45%; /* Chaque tableau prend 45% de la largeur du conteneur */
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

h4 {
    margin: 0;
}

h2, h4 {
    margin-top: 0;
    font-weight: 600;
}

footer {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
