.titre{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #d02121;
    

}
.center-table {
    margin: 0 auto;
   
    width: 50%;  
    border-collapse: collapse;
}
.center-table th, .center-table td {
    padding: 8px;
    border: 1px solid #000000;
    background-color: #ffffff;
}
.center-table th {
    background-color:rgb(108, 135, 182);
    text-align: left;
}

