@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.toggler {
    display: none;
}

.toggle {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 20px;
    left: 15px;
    z-index: 2;
    cursor: pointer;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.toggle .common {
    position: absolute;
    height: 2px;
    width: 20px;
    background-color: #0b1a1d;
    border-radius: 50px;
    transition: 0.3s ease;
}

.toggle .top_line {
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.toggle .middle_line {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.toggle .bottom_line {
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input:checked ~ .toggle .top_line {
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(45deg);
}

input:checked ~ .toggle .bottom_line {
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(-45deg);
}

input:checked ~ .toggle .middle_line {
    opacity: 0;
    transform: translateX(20px);
}

.slide {
    position: fixed;
    height: 100%;
    width: 250px;
    top: 0;
    left: 0;
    background-color: #2c3e50;
    transition: 0.5s ease;
    transform: translateX(-250px);
    z-index: 1;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

input:checked ~ .slide {
    transform: translateX(0);
}

.slide h1 {
    color: rgb(0, 0, 0);
    font-weight: 800;
    text-align: center;
    padding: 20px 0;
    pointer-events: none;
}

.slide ul {
    padding: 0;
    list-style: none;
}

.slide ul li {
    list-style: none;
}

.slide ul li a {
    color: rgb(0, 0, 0);
    font-weight: 500;
    padding: 15px 20px;
    display: block;
    text-transform: capitalize;
    text-decoration: none;
    transition: 0.2s ease-out;
}

.slide ul li:hover a {
    color: #000000;
    background-color: rgb(104, 195, 164);
}

.slide ul li a i {
    width: 30px;
    text-align: center;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5d5d5d;
  color: #000000;
  position: relative;
}
.center-table th, .center-table td {
  padding: 8px;
  border: 1px solid #000000;
  background-color: #000000;
}

.center-table th {
  background-color: #000000;
  text-align: left;
}

.content {
  color:#000000;
  display: flex; /* Utilise flexbox pour positionner les éléments côte à côte */
  align-items: flex-start; /* Alignement vertical des éléments au début */
  justify-content: space-between; /* Maximise l'espace entre la table et l'image */
}

.table-container {
  flex: 1; /* Permet à la table de prendre l'espace disponible */
  margin-right: 20px; /* Ajoute un espace à droite de la table */
}

.image-container {
  flex: 0 1 300px; /* L'image ne grandit pas au-delà de 300px et peut se rétrécir */
  text-align: center; /* Centre le texte et l'image à l'intérieur du conteneur */
}

.image-container img {
  max-width: 100%; /* L'image est complètement responsive dans son conteneur */
  height: auto; /* Maintient le ratio d'aspect de l'image */
}

.footer {
  width: 100%;
  padding: 10px 0;
  background-color: #333;
  color: rgb(0, 0, 0);
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
}
