@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #34495e;
    color: #ecf0f1;
    position: relative;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

form {
    background-color: #2c3e50;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    z-index: 2;
    position: relative;
}

form label {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
    color: #ecf0f1;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #7f8c8d;
    border-radius: 4px;
    background-color: #34495e;
    color: #ecf0f1;
}


form input::placeholder {
    color: #bdc3c7;
}

form input:focus {
    border-color: #1abc9c;
    outline: none;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #1abc9c;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #16a085;
}

form a {
    display: block;
    margin-top: 10px;
    text-align: center;
    color: #ecf0f1;
    text-decoration: none;
    font-size: 14px;
}

form a:hover {
    text-decoration: underline;
}

#error {
    /* margin-top: 0px; */
    color: red;
    text-align: center;
}
